html{
    background-color: bisque;
}




.titulo{
    font-style: italic;
    margin: auto;
    color: blueviolet;
    font-size: 15px;
    text-align: center;
}

.login{
    margin: auto;
    border: solid 3px greenyellow;
    width: 300px;
}